{% extends "base.html" %}<!-- Hereda de la plantilla base-->
{% block title %} Login {% endblock %}
{% block content %}<!--Inicia el contenido-->


<!--Escribimos el cuerpo del formulario-->
<form action="/login" class="form" method="post">
    <input name="_csrf" type="hidden" value={{csrfToken}}>


    <div class="inputContainer">
        <label for="" class="label">Username</label>
        <input type="text" id="username" name="username" placeholder="Username">

    </div>

    <div class="inputContainer">
        <label for="" class="label">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">

    </div>

    <div class="inputContainer">
        <button type="submit" value="enviar" class="btn">LOGIN</button>
    </div>

</form>

<a class='enlace' href="/register">Not a user? register!</a>
{% endblock %}<!--Finaliza el contenido-->